@model Customer

<div class="alert alert-success text-center display-3">
    Make order
</div>
<form class="col-3" method="post" asp-controller="Customers" asp-action="CreateCustomer">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="MyRestaurantId"></label>
        <select class=" form-control " asp-for="MyRestaurantId" asp-items="@(new SelectList(ViewBag.AllRestaurants, "Id", "FullName"))">
        <option selected disabled > Select a your order...</option></select>
    </div>


    <input class="btn btn-outline-info" type="submit" value="send" />
</form>



<a asp-controller="Customers" asp-action="GetIndexView"> Back to list</a>
